---
import CardReceitas from "../../components/CardReceitas.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/styleCategoria.css"
---
<Layout titulo="Carnes">
  <h4 class="Top--title">Carnes</h4>
  <section class="mid--secao">
    <CardReceitas
    imagePath="/src/assets/bifes-com-molho-de-pimenta-verde.webp"
    altText="bifes com molho"
    carregaImg="eager"
    name="Bifes com Molho de Pimenta Verde"
    diretorio="/receitas/bifes-com-molho-de-pimenta-verde"
    />
    <CardReceitas
    imagePath="/src/assets/enrolado-de-carne.webp"
    altText="enrolado de carne"
    carregaImg="eager"
    name="Enrolado de Carne"
    diretorio="/receitas/enrolado-de-carne"
    />
    <CardReceitas
    imagePath="/src/assets/espetinhos-de-damasco.webp"
    altText="espetinhos de carne"
    carregaImg="eager"
    name="Espetinhos com Damasco"
    diretorio="/receitas/espetinhos-com-damasco"
    />
    <CardReceitas
      imagePath="/src/assets/frango-a-paprica.webp"
      altText="frango"
      carregaImg="eager"
      name="Frango à Páprica"
      diretorio="/receitas/frango-a-paprica"
    />
    <CardReceitas
      imagePath="/src/assets/frango-ao-limao-no-forno.webp"
      altText="frango com limão feito no forno"
      carregaImg="eager"
      name="Frango ao Limão no Forno"
      diretorio="/receitas/frango-ao-limao-no-forno"
    />
    <CardReceitas
      imagePath="/src/assets/frango-crocante.webp"
      altText="frango com textura crocante"
      carregaImg="eager"
      name="Frango Crocante"
      diretorio="/receitas/frango-crocante"
    />
    <CardReceitas
      imagePath="/src/assets/frango-frito-no-forno.webp"
      altText="frango frito"
      carregaImg="eager"
      name="Frango Frito no Forno"
      diretorio="/receitas/frango-frito-no-forno"
    />
    <CardReceitas
      imagePath="/src/assets/frango-recheado-com-agriao.webp"
      altText="frango recheado"
      carregaImg="eager"
      name="Frango Recheado com Agrião"
      diretorio="/receitas/frango-recheado-com-agriao"
    />
    <CardReceitas
      imagePath="/src/assets/porco-com-macas.webp"
      altText="lombo de porco assado"
      carregaImg="eager"
      name="Porco com Maçãs"
      diretorio="/receitas/porco-com-macas"
    />
  </section>
</Layout>
