---
import CardReceitas from "../../components/CardReceitas.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout titulo="Pratos Pricipais">
        <h4 class="Top--mais">Pratos Pricipais</h4>
        <section class="mid--secao">
          <CardReceitas
            imagePath="/src/assets/bifes-com-molho-de-pimenta-verde.webp"
            altText="bifes com molho"
            carregaImg="eager"
            name="Bifes com Molho de Pimenta Verde"
            diretorio="/receitas/bifes-com-molho-de-pimenta-verde"
          />
          <CardReceitas
            imagePath="/src/assets/cozido-de-carne-com-bolinhos.webp"
            altText="cozido de carne"
            carregaImg="eager"
            name="Cozido de Carne com Bolinhos"
            diretorio="/receitas/cozido-de-carne-com-bolinhos"
          />
        </section>
</Layout>
<style>
    .Top--mais{
      text-align: center;
      margin-bottom: 0;
    }
  
    .mid--secao{
      display: flex;
      width: 90%;
      margin: auto;
      padding: 50px 0 50px 0;
      justify-content: center;
      gap: 10px;
    }
</style>
