---
import CardReceitas from "../../components/CardReceitas.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout titulo="Receitas Diversas">
        <h4 class="Top--mais">Receitas Diversas</h4>
        <section class="mid--secao">
          <CardReceitas
            imagePath="/src/assets/imgReceitas1.webp"
            altText="Frango recheado posto na mesa"
            carregaImg="eager"
            name="Frango Recheado com Agrião"
            diretorio="/receitas/frango-recheado-com-agriao"
          />
          <CardReceitas
            imagePath="/src/assets/imgReceitas2.webp"
            altText="mais uma receitas"
            carregaImg="eager"
            name="receitas"
            diretorio="/receitas/"
          />
        </section>
</Layout>
<style>
    .Top--mais{
      text-align: center;
      margin-bottom: 0;
    }
  
    .mid--secao{
      display: flex;
      width: 90%;
      margin: auto;
      padding: 50px 0 50px 0;
      justify-content: center;
      gap: 10px;
    }
</style>
