.div--ingr {
  display: block;
  width: 100%;
  padding: 10px;
}

.div--ingr ul {
  margin: 0;
  padding: 0 0 0 10px;
}

.div--ingr li {
  line-height: 30px;
}

.div--preparo {
  display: block;
  width: 100%;
  padding: 10px;
}

.div--preparo ol {
  margin: 0;
  padding: 0 0 0 10px;
}

.div--preparo li {
  line-height: 30px;
  border-bottom: 1px solid #C0C0C0;
  padding: 10px;
}

@media (max-width: 950px) {
  .div--ingr {
    width: 90%;
    margin: auto;
    border: 0;
  }

  .div--preparo {
    width: 90%;
    margin: auto;
    border: 0;
  }
}
