---
import Layout from '../layouts/Layout.astro';
import CardReceitas from '../components/CardReceitas.astro';
import "../styles/styleCategoria.css"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout titulo="Chefnacozinha">
      <h4 class="Top--title">Postados Recentes</h4>
      <section class="mid--secao">
        <CardReceitas
          imagePath="/src/assets/bifes-com-molho-de-pimenta-verde.webp"
          altText="Bifes ao molho"
          carregaImg="eager"
          name="Bifes com Molho de Pimenta Verde"
          diretorio="/receitas/bifes-com-molho-de-pimenta-verde"
        />
        <CardReceitas
          imagePath="/src/assets/cozido-de-carne-com-bolinhos.webp"
          altText="uma tigela de carne"
          carregaImg="eager"
          name="Cozido de Carne com Bolinhos"
          diretorio="/receitas/cozido-de-carne-e-bolinhos"
        /> 
        <CardReceitas
          imagePath="/src/assets/frango-ao-limao-no-forno.webp"
          altText="frango assado com rodelas de limao"
          carregaImg="eager"
          name="Frango ao Limão no Forno"
          diretorio="/receitas/frango-ao-limao-no-forno"
        />
        <CardReceitas
          imagePath="/src/assets/enrolado-de-carne.webp"
          altText="carne de vaca enrolada e assada"
          carregaImg="eager"
          name="Enrolado de Carne"
          diretorio="/receitas/enrolado-de-carne"
        />
        <CardReceitas
          imagePath="/src/assets/ensopado-de-carne-a-flamenga.webp"
          altText="uma panela de sopa com carne"
          carregaImg="eager"
          name="Ensopado de Carne a Flamenga"
          diretorio="/receitas/ensopado-de-carne-a-flamenga"
        />
        <CardReceitas
          imagePath="/src/assets/espetinhos-de-damasco.webp"
          altText="espetinhos de carne"
          carregaImg="eager"
          name="Espetinhos de Damasco"
          diretorio="/receitas/espetinhos-com-damasco"
        />
        <CardReceitas
          imagePath="/src/assets/folhados-de-peru.webp"
          altText="salgado com recheio de peru"
          carregaImg="eager"
          name="Folhados de Peru"
          diretorio="/receitas/folhados-de-peru"
        />
        <CardReceitas
          imagePath="/src/assets/frango-a-paprica.webp"
          altText="frango com molho de paprica por cima"
          carregaImg="eager"
          name="Frango à Páprica"
          diretorio="/receitas/frango-a-paprica"
        />

      </section>
</Layout>
