---
import LayoutReceitas from "../../layouts/LayoutReceitas.astro";
import SecaoReceitas from "../../components/SecaoReceitas.astro";
---

<LayoutReceitas titulo="Frango Recheado com Agrião">
    <SecaoReceitas
        imagePath="/src/assets/imgReceitas1.webp"
        altText="receitas"
        carregaImg="eager"
    />
    <h3>Frango Recheado com Agrião</h3>
    <ul>
        <li>Cada Porção tem 415 calorias</li>
    </ul>
    <h4>Ingredientes</h4>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</LayoutReceitas>
<style>

</style>
